name: Tests
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { submodules: true }
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - run: pip install -e .[test]
      - run: pytest --cov=sabr --cov-report=term-missing
