name: Tests
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/setup-python
      - run: pip install -e .[test]
      - name: Run all tests (including slow tests)
        run: pytest -m "" --cov=sabr --cov-report=term-missing
