name: Tests
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and setup Python
        uses: ./.github/actions/checkout-and-setup-python
        with:
          submodules: true
      - run: pip install -e .[test]
      - run: pytest --cov=sabr --cov-report=term-missing
